body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 50px;
}
h1 {
    color: #333;
}
.datos {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.descripcion {
    margin-top: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.datos h1 {
    color: #337ab7; 
}
.descripcion h2 {
    color: #337ab7; 
}
.descripcion p {
    text-align: justify; 
}       
